name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  simple:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    name: Test `cargo check/test/build` on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    env:
      CARGO_TERM_COLOR: always

    steps:
      - uses: actions/checkout@v4
        with:
            set-safe-directory: true
            submodules: true
      - run: rustup toolchain install stable --profile minimal
      - run: rustup target add wasm32-wasip1
      - uses: Swatinem/rust-cache@v2
      - run: |
          curl -fsSL https://developer.fermyon.com/downloads/install.sh | bash
          cargo check
          cargo build -p dewiktionary -p dewiktionary-importer-cli -p dewiktionary-diesel --release
          cargo build --target wasm32-wasip1 --release -p der-die-das
          cd der-die-das-spin && ../spin build
          
  cargo-deny:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        checks:
          - advisories
          - bans licenses sources

    # Prevent sudden announcement of a new advisory from failing ci:
    continue-on-error: ${{ matrix.checks == 'advisories' }}

    steps:
      - uses: actions/checkout@v4
        with:
           set-safe-directory: true
           submodules: true
      - uses: EmbarkStudios/cargo-deny-action@v2      
        with:
          command: check ${{ matrix.checks }}

  codecov-check:
    name: codecov-check
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin:develop-nightly
      options: --security-opt seccomp=unconfined --user=root
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          set-safe-directory: true
          submodules: true
      - name: Run tarpaulin
        run: |
          cargo +nightly tarpaulin --verbose --all-features --workspace --timeout 600 --out xml
 
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v4
        with:
          token: ${{secrets.CODECOV_TOKEN}}
  
      - name: Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: cobertura.xml